.git
.gitignore
.cursor
node_modules
npm-debug.log*
Dockerfile*
docker-compose*.yml
docker-compose*.yaml
vendor
storage/app/*
storage/framework/*
storage/logs/*
storage/debugbar/*
public/storage
tests
.env
.env.*
.idea
.vscode
coverage
*.log


